@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --primary-color: #3498db;
  --secondary-color: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease-in;
}

.progress {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0;
  z-index: -1;
  transition: 0.4s ease-out;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 30px;
  height: 30px;
  border: 3px solid var(--secondary-color);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--primary-color);
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 6px;
  transition: transform 0.06s ease-in;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: var(--secondary-color);
  cursor: default;
}
