@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  background-color: #3f72af;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
}

.counter {
  font-size: 3.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
