@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 30rem;
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: cornflowerblue;
  color: #fff;
  border: 0;
  padding: 0.5rem;
  width: 49.5%;
  cursor: pointer;
  font-size: inherit;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  font-size: 0.9rem;
}

@media (max-width: 500px) {
  html {
    font-size: 9.5px;
  }
}
